@font-face {
    font-family: 'Antenna';
    src: url('./fonts/ford-antenna-medium-cnd-587bd97171cbd.otf') format('truetype');
}

.page{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:stretch;
    margin-top: auto;
    height: 100vh;
}

.bar{
    width: 100%;
    height: 35px;
    background-color:blue;
    color:white;
    font-family:'Helvetica';
    align-items:center;
    justify-content: center;
    text-align:center;
    overflow:hidden;
    z-index:50;
}

.bar h1{
    font-size:25px;
}

.bar:hover{
    background-color:rgb(86, 86, 255);
}

.fordlogo{
    width:30%;
    padding-left: 50px;
    padding-right: 100px;
}

.fordpic{
    height:100%;
    z-index:0;
}

.fakeinfo{
    z-index:1;
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom:6%;
    left:6%;
    color:white;


}

.text{
    font-family:'Antenna', sans-serif;
    font-size: 70px;
}

.fakebtn{
    z-index: 5;
    color: blue;
            background-color: white;
            font-family: 'Antenna', sans-serif;
            border-radius: 50%;
            width: 100px; /* Adjust width and height as needed */
            height: 100px;
            text-align: center;
            line-height: 100px;
            cursor: default;
}