@font-face {
    font-family: 'Antenna';
    src: url('fonts/ford-antenna-medium-cnd-587bd97171cbd.otf') format('truetype');
}

.question-button-container {
    font-family: 'Antenna', sans-serif;
    z-index: 9999;
    margin-top:2px;
  }
  
  .question-button {
    padding-top: 8px;
    background-color: transparent;
    border: none;
    color: rgb(138, 138, 147);
    font-size: 20px;
    cursor: pointer;
    position:relative;
  }
  
  .explanation-container {
    position:fixed;
    bottom: 160px;
    left: 90px;
    width: 300px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }
  
  .learn-more-button {
    background-color: #322964;
    color: white;
    border: none;
    padding: 2px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .learn-more-button:hover {
    background-color: #322964;
  }
  
  .explanation-container .close-button {
    bottom: 5px;
    right: 5px;
    background-color: white;
    border: none;
    color: #322964;
    font-size: 16px;
    cursor: pointer;
  }

  .extra-information {
    position:fixed;
    bottom: 160px;
    left: 90px;
    width: 500px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }
  