@font-face {
    font-family: 'Antenna';
    src: url('fonts/ford-antenna-medium-cnd-587bd97171cbd.otf') format('truetype');
}

.top{
    display:flex;
    flex-direction:row;
    align-items:center;
    height: 60px;
    background-color:white;
    width:100%;
}


.btnn{
    padding-top:10px;
    color: #322964;
    border:none;
    background-color:white;
    font-size:1.1rem;
    font-family:'Antenna', sans-serif;
    width: 75px;
    white-space: nowrap;
    font-weight:bolder;

}

.support{
    padding-top:12px;
    color: #322964;
    border:none;
    background-color:white;
    font-size:1.1rem;
    font-family:'Antenna', sans-serif;
    width: 170px;
    white-space: nowrap;
    font-weight:bolder;

}
.support:hover{
    color:blue;
}

.btnn:hover {
    color: blue;
}

.leftbuttons{
    display:flex;
    flex-direction:row;
    justify-content:center;
    font-weight:bolder;
    margin-left:10%;
}

.fordlogo {
        flex: 1; /* This will make the Ford logo div take up the remaining space */
        display: flex;
        justify-content: center; /* Horizontally center the logo */
}

.logo{
    width:145px;
    margin-right: auto; /* This will push the logo to the center */
    margin-left: auto; 
    padding-right:15px;
}


.chatbtn{
    padding-top:10px;
    color: #322964;
    border:none;
    background-color:white;
    font-size:1.1rem;
    font-family:'Antenna', sans-serif;
    width: 120px;
    padding-right:200px;
    font-weight:bolder;
    margin-right:10%;
}

.chatbtn:hover{
    color:blue;
}

.chatbtn:clicked{
    color:blue;
}

.fordpic{
    width:100%;
}