.marker{
    display:none;
}
.infoBubble {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

.custom-scrollbar {
    overflow-y: scroll;
    max-height: 355px;
    scrollbar-width: thin;
    scrollbar-color: #888 #f5f5f5;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f5f5f5;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
.hover-popup2 {
    z-index: 999;
    left: 200px;
    top: 300px; 
    height: 150px;
    width: 300px;
    position: absolute;
    display: block;
    background-color: rgb(251, 249, 249);
    border: 1px solid #ccc;
    padding: 10px;
  }

.hover-popup {
    height: 70%;
    width: 40%;
    z-index: 999;
    position: absolute;
    background-color: rgb(255,255,255);
    width: 480px;
    height: 320px;
    padding: 10px;
    left: 48px;
    top: 62px;
    border-radius: 15px;
    text-align: left;
  }

.close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    background: #fff;
    border: 2px solid #02075d;
    color: #322964;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 18px;
    font-weight: bold;
    line-height: 15px;
    cursor: pointer;
}

.close-button:hover {
    background: rgb(172, 174, 176);
}

.hover-content {
    line-height: 23px;
    justify-content: left;
    padding-left: 20px;
    padding-top: 13px;
}

.modelprev-map {
    box-shadow: 3px, rgb(86, 88, 86);
    width: 100px;
    height: 60px;
    font-size: 9px;
    font-weight: bold;
    color: #322964;
    text-align:center;
    word-wrap: wrap;
    overflow-wrap:wrap;  
    line-height:1.2;
    justify-content:center;
    margin-right: 3px;
}

.modelprev-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    padding: 3px;
    margin-left: -13px;
}

.dealer-window1 {
    align-items:flex-start;
    align-self:flex-start;
    position: relative;
    background-color: #113B7A1A;
    width: 75%;
    height: 220px;
    border-radius: 15px;
    padding: 20px;
    padding-top: 15px;
    left: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dealer-window2 {
    position: relative;
    background-color: #113B7A1A;
    width: 75%;
    height: 200px;
    border-radius: 15px;
    padding: 20px;
    padding-top: 15px;
    margin-top: 15px;
    left: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.window-model {
    height: 120px;
    width: 150px;
    background-color: white;
    color:#322964;
    font-size: 10px;
    font-weight: bold;
    border-radius: 10px;
    text-align:center;
    word-wrap:wrap;
    overflow-wrap:wrap;  
    margin: 7px;
    padding-top: 8px;
    padding-bottom: 2px;
    padding-right: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.models-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    margin-top: 7px;
}

.time-slot {
    font-size:13px;
    text-align:center;
    word-wrap:wrap;
    width:190px;
    height:60px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 5px;
    cursor: auto;
}

.time-slot:hover {
    background-color:lightgrey;
}

.schedule-button {
    font-size:13px;
    text-align:center;
    word-wrap:wrap;
    font-weight:bold;
    width:190px;
    height:130px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin:5px;
    padding: 5px;
}

.schedule-button:hover {
    background-color:lightgrey;
}

.timeslot-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 0px;
}

.view-more {
    font-size:14px;
    position:absolute;
    right:22px;
    cursor:pointer;
}

.view-more:hover {
    text-decoration:underline;
}

.time-slot-mini {
    font-size:12px;
    text-align:center;
    word-wrap:wrap;
    line-height:1.25;
    width:90px;
    height:50px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin:3px;
    padding-top:9px;
}